<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Path</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.file_name %></td>
        <td><%= image_tag(photo.path) %></td>
        <td><%= link_to 'Show', user_photo_path(@user, photo) %></td>
        <td><%= link_to 'Edit', edit_user_photo_path(@user, photo) %></td>
        <td><%= link_to 'Destroy', user_photo_path(@user, photo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_user_photo_path(@user) %>
