<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @photo.file_name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @photo.path %>
</p>

<%= link_to 'Edit', edit_user_photo_path(@user, @photo) %> |
<%= link_to 'Back', user_photos_path(@user) %>
